* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.header {
  width: 100%;
  height: 60vh;
  background: linear-gradient(3.5deg, rgb(255, 255, 255) 34%, rgb(112, 112, 112) 35%);
  color: #FFFFFF;
  padding: 20px 200px;
}
.header .headerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.header .headerWrapper h4 {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 5px;
}
.header .headerWrapper h3 {
  font-size: 40px;
  margin-bottom: 20px;
}
.header .headerWrapper p {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 40px;
}
.header .headerWrapper .headerNav {
  width: 100%;
}
.header .headerWrapper .headerNav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
}
.header .headerWrapper .headerNav ul a {
  text-decoration: none;
  width: 160px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 300ms ease;
}
.header .headerWrapper .headerNav ul a:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px black;
}
.header .headerWrapper .headerNav ul a li {
  width: 100%;
  color: #888888;
}

.main {
  width: 100%;
  padding: 20px 200px;
  color: #888888;
}
.main .mainForm {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}
.main .mainForm .mainText {
  width: 100%;
  margin: 10px;
}
.main .mainForm .mainText h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.main .mainForm .mainText p {
  font-size: 12px;
  margin-bottom: 10px;
}
.main .mainForm .formWrapper {
  width: 70%;
  margin: 10px;
  padding: 0 30px;
}
.main .mainForm .formWrapper form {
  width: 100%;
}
.main .mainForm .formWrapper form .text {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #707070;
}
.main .mainForm .formWrapper form .maleFemale {
  margin-bottom: 30px;
}
.main .mainForm .formWrapper form button {
  width: 100%;
  height: 39px;
  border: 1px solid #707070;
  border-radius: 3px;
  transition: all 300ms ease;
  margin-bottom: 30px;
}
.main .mainForm .formWrapper form button:hover {
  box-shadow: 0px 0px 10px black;
}
.main .mainProducts {
  width: 100%;
}
.main .mainProducts .sectionTitle {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #707070;
  position: relative;
  justify-content: center;
}
.main .mainProducts .sectionTitle h2 {
  font-size: 18px;
  position: absolute;
  text-align: center;
  top: 5px;
  background-color: #FFFFFF;
  padding: 0 10px;
}
.main .mainProducts .productsWrapper {
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
}
.main .mainProducts .productsWrapper .productSingle {
  width: 100%;
  max-width: 200px;
  margin: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main .mainProducts .productsWrapper .productSingle img {
  margin-bottom: 20px;
  margin: 0 auto;
  width: 70%;
}
.main .mainProducts .productsWrapper .productSingle h3 {
  font-size: 14px;
  margin: 10px 0;
}
.main .mainProducts .productsWrapper .productSingle p {
  font-size: 12px;
  margin-bottom: 5px;
}
.main .mainProducts .productsWrapper .productSingle span {
  font-size: 14px;
  margin-bottom: 5px;
}
.main .mainProducts .productsWrapper .productSingle .first {
  font-size: 14px;
  margin-bottom: 10px;
}
.main .mainProducts .productsWrapper .productSingle .second {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}
.main .mainProducts .productsWrapper .productSingle button {
  width: 100%;
  height: 30px;
  border: 1px solid #707070;
  color: #888888;
  font-size: 16px;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: all 200ms ease;
}
.main .mainProducts .productsWrapper .productSingle button:hover {
  box-shadow: 0px 0px 10px black;
}
.main .mainProducts .loadButton {
  width: 260px;
  height: 39px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #707070;
  display: block;
  margin: 0 auto;
  color: #888888;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.main .mainProducts .loadButton:hover {
  box-shadow: 0px 0px 10px black;
}
.main .mainProducts .loadInvisible {
  visibility: hidden;
}
.main .share {
  width: 100%;
  margin-top: 100px;
}
.main .share .sectionTitle {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #707070;
  position: relative;
  justify-content: center;
  margin-bottom: 30px;
}
.main .share .sectionTitle h2 {
  font-size: 18px;
  position: absolute;
  text-align: center;
  top: 5px;
  background-color: #FFFFFF;
  padding: 0 10px;
}
.main .share .shareWrapper {
  width: 100%;
  padding: 20px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .share .shareWrapper h4 {
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 40px;
}
.main .share .shareWrapper .formWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .share .shareWrapper .formWrapper input {
  width: 100%;
  max-width: 340px;
  height: 30px;
  outline: none;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #707070;
}
.main .share .shareWrapper .formWrapper input:focus {
  box-shadow: 0px 0px 10px black;
}

.footer {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(112, 112, 112);
  background: linear-gradient(355deg, rgb(112, 112, 112) 60%, rgb(255, 255, 255) 61%);
}
.footer span {
  margin-top: 20px;
  font-size: 12px;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */